<!doctype html>

<html lang="en">
  <head>
    <title>Brachi - Project</title>
  </head>
  <script>
    function gotoLevelSelect() {
      window.location.assign("/navigation/level-select");
    }
  </script>
  <body>
    <h1>Project</h1>
    <table>
      <tr>
        <td><div onclick="gotoLevelSelect()" style="background-color:blue; text-align:center; vertical-align:middle; cursor:pointer; padding:10px; color:white; height:100%; margin:2px;">Return to Level Select</div></td>
      </tr>
    </table>
  </body>
</html>
