canvas {
  border: 1px solid black;
  background-color: rgb(250, 250, 250);
  //background-image: url(https://github.com/jake-wickstrom/brachi/blob/scale-gui/images/brachi.png?raw=true);
  top: 84px;
  left: 0px;
  background-size: 100% 100%;
}

header {
position: fixed;
font-family: 'Lato', sans-serif;
color: white;
font-size: 70px;
left: 10px;
top: 0px;
}

body {
  background-position: top;
  top: 0px;
  background-image: url("VectorField.svg");
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20;
}
.nav {
  list-style-type: none;
  margin: 0;
  position: fixed;
  font-size: 30px;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 20px;
  background-color: #000000;
}
.level {
   list-style-type: none;
   position: fixed;
   margin: 0;
   padding: 0;
   right: 25%;
   top: 20%;
   height: 462px;
   width: 50%;
   background-color: #000000;
}

.nav li{
  float: right;
}


.level a{
  display: block;
  color: white;
  font-size: 20px;
  padding: 20px 30px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  border-style:outset;
  border-width: 1px;
  border-color: white;

}

.nav a{
  display: block;
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#simCanvas {
  background-color: white;
}

#simulationInterfaceContainer {
  position: fixed;
  right: 0px;
  top:84px;
  height: 100%;
  width: 30%;
  background: linear-gradient(grey, black);
}

#canvasCol {
  padding: 0px;
}

#error-display {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#info-display {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  //border: 1px solid black;
  width: 30%;
  padding: 5%;
  margin-bottom: 0%;
}

#opt-time {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  //border: 1px solid black;
  width: 30%;
  padding: 5%;
  margin-bottom: 10%;
}

#buttons {
  color: white;
  margin-left: 0px;
  margin-right: 0px;
}

#startButton {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

#resetButton {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0); ;
  border: 0px;
}

#backButton {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

#solnButton {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
