canvas {
  border: 1px solid black;
  background-color: rgb(250, 250, 250);
  //background-image: url(https://github.com/jake-wickstrom/brachi/blob/scale-gui/images/test.png?raw=true);
  background-size: 100% 100%;
}

body {
  background-image: url(https://img-new.cgtrader.com/items/101046/026436c913/office-workstation-design-3d-model-sldprt-sldasm-slddrw.jpg);
  background-size: 100% 100%;
}

#canvasCol {
  padding: 0px;
}

#error-display {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

#info-display {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  //border: 1px solid black;
  width: 30%;
  padding: 5%;
  margin-bottom: 20%;
}

#buttons {
  margin-top: 5%;
  margin-bottom: 5%;
}

#startButton {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

#resetButton {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

#backButton {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

#solnButton {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
