<!doctype html>

<html lang="en">
  <head>
    <title>Brachi - Level Select</title>
  </head>
  <body>
    <h1>Brachi - Level Select</h1>
    <table>
      <tr>
        {% for level in levels %}
        <td><div onclick="gotoLevel({{ forloop.counter0 }})" style="background-color:black; text-align:center; vertical-align:middle; cursor:pointer; padding:10px; color:white; height:100%; margin:2px;">{{ level }}</div></td>
        {% endfor %}
      </tr>
      <tr>
        <td><div onclick="gotoLeaderboard()" style="background-color:blue; text-align:center; vertical-align:middle; cursor:pointer; padding:10px; color:white; height:100%; margin:2px;">Leaderboard</div></td>
      </tr>
    </table>
  <script>
    function gotoLevel(level_num) {
      window.location.assign("/navigation/play?level=" + level_num);
    }
    function gotoLeaderboard() {
      window.location.assign("/navigation/leaderboard");
    }
  </script>
  </body>
</html>
