<!doctype html>

{% load static %}
<html lang="en">
  <head>
    <title>Brachi - Level Select</title>
    <link rel="stylesheet" href="{% static 'navigation/style1.css' %}">
  </head>
  <script>
    function gotoLevel(level_num) {
      window.location.assign("/navigation/play?level=" + level_num);
    }
    function gotoLeaderboard() {
      window.location.assign("/navigation/leaderboard");
    }
    function gotoProject() {
      window.location.assign("/navigation/project");
    }
  </script>
  <body>
    <ul class="nav">
      <header>Brachi</header>
      <li><a target="_blank" href="https://github.com/jake-wickstrom/brachi">GitHub</a></li>
      <li><div onclick="gotoProject()">About</div></li>
      <li><div onclick="gotoLeaderboard()">Leaderboard</div></li>
      <li><div onclick="gotoLevelSelect()">Levels</div></li>
    </ul>
    <ul class="level">
      {% for level in levels %}
      <li><div onclick="gotoLevel({{ forloop.counter0 }})">{{ forloop.counter0 }}: {{ level }}</div></li>
      {% endfor %}
    </ul>
  </body>
</html>
