<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    Level Page
  </body>
  {% autoescape off %}
  {{ script }}
  {% endautoescape %}
  <script>
    var i;
    $(document).ready(function() {
      // TODO: all of this code needs to be adapted for the real level
      // right now I am just testing the submit functionality
      i = 0;
      var level = {{ level }};
      var potential = getPotential(100, 200, 500, 600);
      var dict = [];
      dict.push({
        key: "level",
        value: level
      });
      dict.push({
        key: "time",
        value: potential
      });

      post('play/submit/', dict)
    });
    /*
     * This function is used instead of the usual form submit method as it allows
     * the POST request to submit without refreshing the page.
     */
    function submitForm(form) {
      $.ajax({
          data: $("#" + form.getAttribute("id")).serialize(),
          type: $("#" + form.getAttribute("id")).attr('method'),
          url:  $("#" + form.getAttribute("id")).attr('action'),
          success: function() {
              console.log("Submitted time.");
          },
          error: function() {
              console.log("Failed to submit time.");
          }
      });
    }
    /*
     * This function is used to submit POST requests. A hidden form is created
     * with a unique id which then submits itself using the submitForm() function.
     *
     * To use this:
     * 1. Create a dictionary with the information to pass to the form:
     *    var dict = [];
     *    dict.push({
     *      key: "level",
     *      value: 1
     *    });
     *    You can repeat the "push" for all of the variables needed in the form.
     *
     * 2. Make the following function call:
     *    post('navigation/play/submit/', dict);
     */
    function post(path, params, method) {
      i = i + 1;
      method = method || "post";
      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);
      form.setAttribute("id", "time-form" + i)
      for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", params[key].key);
            hiddenField.setAttribute("value", params[key].value);
            form.appendChild(hiddenField);
        }
      }
      document.body.appendChild(form);
      submitForm(form); // use the function we made as opposed to the usual form submit behavior
    }
  </script>
</html>
